body {
    font-family: Arial, sans-serif;
    background-color: #fff7ed;
    padding: 20px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

.product {
    display: inline-block;
    margin: 20px;
}

img {
    width: 200px;
}
